body {
  background-color: $background-color;
  font-family: 'Space Grotesk', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 100vh;
  width: 100vw;
  @include large-screen-down {
    grid-template-columns: none;
    grid-template-rows: 30% 70%;
    gap: 40px 0px;
  }

  &__card__section {
    background-image: url(../images/bg-main-desktop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include large-screen-down {
      background-image: url(../images/bg-main-mobile.png);
      flex-direction: column-reverse;
    }
    @include ultra-large-screen {
      gap: 20px 0px;
    }
    @include extra-large-screen {
      gap: 20px 0px;
    }
    &--front {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 30%;
      width: 100%;
      @include large-screen-down {
        width: 70%;
        bottom: 5%;
        left: -10%;
        z-index: 1;
        top: 5%;
      }
      @include small-screen {
        top: 15%;
      }
      .personal-icon {
        position: absolute;
        width: 70px;
        top: 20px;
        left: 20px;
        @include extra-large-screen {
          left: 20px;
        }
        @include small-screen {
          font-size: 12px;
          left: 20px;
          width: 50px;
        }
      }
      .card-number {
        position: absolute;
        bottom: 50px;
        font-size: 12px;
        letter-spacing: 5px;
        color: $background-color;
        margin: 0;
        min-width: 100%;
        left: 20px;
        @include ultra-large-screen {
          font-size: 20px;
          padding: 30px 0px;
          left: 30px;
        }

        @include extra-large-screen {
          font-size: 16px;
          padding: 15px 0px;
          left: 20px;
        }

        @include large-screen {
          font-size: 35px;
          left: 20px;
          padding: 35px 0px;
        }

        @include medium-screen {
          font-size: 25px;
          left: 20px;
          padding: 35px 0px;
        }
      }
      .card-name {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 12px;
        color: $background-color;
        @include extra-large-screen {
          left: 20px;
        }
        @include large-screen {
          font-size: 18px;
          left: 20px;
        }
        @include medium-screen {
          font-size: 20px;
          left: 20px;
        }
      }
      .card-date {
        position: absolute;
        bottom: 10px;
        right: 30px;
        font-size: 12px;
        color: $background-color;
        @include large-screen {
          font-size: 18px;
        }
        @include medium-screen {
          font-size: 20px;
        }
      }
      img {
        width: 100%;
      }
    }
    &--back {
      @include large-screen-down {
        left: 5%;
        width: 70%;
        top: 40%;
        z-index: 0;
      }
      width: 100%;
      left: 50%;
      position: relative;
      img {
        width: 100%;
      }
      .card-cvc {
        position: absolute;
        width: 100%;
        top: 44%;
        margin: 0;
        letter-spacing: 2px;
        color: $background-color;
        text-align: end;
        @include ultra-large-screen {
          right: 45px;
        }
        @include extra-large-screen {
          top: 42%;
          right: 40px;
        }
        @include large-screen {
          right: 10%;
          top: 44%;
          font-size: 25px;
        }
        @include medium-screen {
          right: 10%;
          top: 42%;
          font-size: 25px;
        }
        @include small-screen {
          right: 10%;
          top: 40%;
        }
      }
    }
  }
  &__details__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 10px;
    width: 100%;
    input {
      padding-left: 10px;
      border: none;
      font-weight: 500;
      font-size: 15px;
      outline: 1px solid $input-border;
      height: 30px;
      border-radius: 5px;
      &:focus {
        outline: 2px solid $input-active;
      }
    }
    label {
      display: inline;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: 600;
    }
    &--name-num {
      display: flex;
      flex-direction: column;
      input {
        width: 300px;
      }
    }

    &--date {
      display: flex;
      gap: 0px 15px;
      &--my {
        label {
          display: block;
        }
        input {
          margin-right: 5px;
          width: 50px;
          margin-top: 5px;
        }
      }
      &--cvc {
        label {
          display: block;
        }
        input {
          width: 150px;

          margin-top: 5px;
        }
      }
    }
    button {
      width: 320px;
      height: 40px;
      border: none;
      outline: none;
      background-color: $btn-color;
      color: $background-color;
      border-radius: 5px;
      font-size: 17px;
      cursor: pointer;
    }
  }
}
// input number arrow removal
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
